# Ignore node_modules and build files
node_modules/
dist/
out-tsc/

# Ignore environment files (if sensitive)
src/environments/environment.ts

# Ignore editor-specific files
.vscode/
.idea/
.DS_Store
